main{
  display: flex;
  flex-direction: column;    
  margin-top: 35px;
  margin-bottom: 20px;
  min-height: 100vh;
}
.info{
  padding: 5rem 2rem 0 2rem;
}
.title{
  text-transform: uppercase;
  font-size: 4rem;
  color: #333333;
  width: 100%;
  position: relative;
}
.title::after{
  content: '';
  position: absolute;
  bottom: -3rem;
  left: 0;
  width: 11.5rem;
  height: 1rem;
  background-color: #333333;
}
.description{
  padding-top: 6rem;
  font-size: 1.6rem;
}
.section2{
  margin-top: 20px;

}
.barra{
  width: 150px;
  height: 10px;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 25px;
}
.section3{
  margin: 2rem;
  padding: 3rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  background-color: #F5F5F5;
  gap: 2rem;
}
.section4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px; 
  gap: 1rem;
}

@media screen and (min-width: 1000px) {
  .info{
    margin: 0rem 8rem;
  }
  .section3{
    margin: 2rem 10rem;
    gap: 1rem;
  }
}